#car{
    width: 100%;
}

#cars>.body{
    min-height: 100vh;
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

#cars>.body>.filter-section{
    position: sticky;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc ;
    box-shadow: 0 2px 5px #ccc;
    padding: 15px;
    gap: 20px;
    top: 0;
    z-index: 1;
}

#cars>.body>.filter-section>.details{
    display: flex;
    gap: 5px;
    align-items: center;
}

#cars>.body>.filter-section>.amenities{
    display: flex;
    gap: 10px;
    cursor: pointer;
}

#cars>.body>.filter-section>.amenities>.amenity{
    display: flex;
    height: 30px;
    min-width: 30px;
    border: 0.5px solid #ccc;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    overflow: hidden;
}

#cars>.body>.filter-section>.amenities>.amenity:hover{
    box-shadow: 0 0px 5px #ccc;
}

#cars>.body>.filter-section>.amenities>.amenity>.icon{
    padding-right: 8px;
    height: 24px;
    width: auto;
    overflow: hidden;
}

#cars>.body>.filter-section>.amenities>.reset-btn{
    padding: 0;
}

#cars>.body>.car-list{
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
    justify-content: left;
    padding-top: 30px;
}

#cars>.body>.map-btn{
    display: flex;
    position: fixed;
    top: 90vh;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    background-color: #ccc;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: larger;
    z-index: 2;
    cursor: pointer;
}

input.checkSeats,
input.checkTypeOfFuels,
input.checkgearStick{ 
    opacity: 0;
    width: 0;
    height: 0;
}

#type-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#type-container>.type-select{
    display: flex;
    /* grid-template-columns: auto auto; */
    /* column-gap: 20px; */
    gap: 20px;
}


#type-container>.choose{
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    background-color: #5fcf86;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
}

#type-container>.choose:hover{
    background-color: #469963;
    color: #fff;
}

/* #type-container>.type-select{
    padding-bottom: ;
} */

#type-container>.type-select>.tp>.icon{
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: 1px solid #ccc;
    cursor: pointer;
}

#type-container>.type-select>.tp>.icon:hover{
    box-shadow: 0 0 5px #ccc;
}

#type-container>.type-select>.tp>.icon>.img-container img{
    height: 64px;
    width: auto;
}
