#car{
    width: 100%;
}

#cars>.body{
    min-height: 100vh;
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

#cars>.body>.filter-section{
    position: sticky;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc ;
    box-shadow: 0 2px 5px #ccc;
    padding: 15px;
    gap: 20px;
    top: 0;
    z-index: 1;
}

#cars>.body>.filter-section>.details{
    display: flex;
    gap: 5px;
    align-items: center;
}

#cars>.body>.filter-section>.amenities{
    display: flex;
    gap: 10px;
    cursor: pointer;
}

#cars>.body>.filter-section>.amenities>.amenity{
    display: flex;
    height: 30px;
    min-width: 30px;
    border: 0.5px solid #ccc;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    overflow: hidden;
}

#cars>.body>.filter-section>.amenities>.amenity:hover{
    box-shadow: 0 2px 2px #ccc;
}

#cars>.body>.filter-section>.amenities>.amenity>.icon{
    padding-right: 8px;
    height: 24px;
    width: auto;
    overflow: hidden;
}

#cars>.body>.filter-section>.amenities>.reset-btn{
    padding: 0;
}

#cars>.body>.car-list{
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

#cars>.body>.map-btn{
    display: flex;
    position: fixed;
    top: 90vh;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    background-color: #ccc;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: larger;
    z-index: 2;
    cursor: pointer;
}

.switch {
position: relative;
display: inline-block;
width: 60px;
height: 34px;
}

.switch input { 
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #2196F3;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}