#item{
    height: fit-content ;
    width: 275px;
    background-color: #ffffff;
    border-radius: 25px;
    border: #c7c7c7 1px solid;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: #c7c7c7 0 0 5px;
}

#item>.container{
    padding: 20px;
}

#item>.container>.img{
    height: auto;
    width: 100%;
    border: #c7c7c7;
    border-radius: 25px;
}

#item>.container>.item-detail>.title{
    font-weight: 600;
    font-size: x-large;
    padding-bottom: 10px;
}

#item>.container>.item-detail>.location{
    padding-bottom: 10px;
}

#item>.container>.item-detail>.price-info{
    display: flex;
    justify-content: space-between;
    font-size: larger;
    padding: 10px 0 5px 0;
}