#dashboard {
  display: flex;
}
#dashboard > .homeContainer {
  flex: 6;
  flex-grow: 1;
  padding-left: 200px;
}
#dashboard > .homeContainer > .widgets,
.charts {
  display: flex;
  padding: 20px;
  gap: 20px;
}
#dashboard > .homeContainer > .widgets div{
  display: flex;
  justify-content: space-between;
  width: 35%;
}

#dashboard > .homeContainer > .charts {
  padding: 5px 20px;
}

#dashboard > .homeContainer > .listContainer {
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 20px;
  margin: 20px;
}
#dashboard > .homeContainer > .listContainer > .listTitle {
  font-weight: 500;
  color: gray;
  margin-bottom: 15px;
}
