.cellAction {
  display: flex;
  align-items: center;
  gap: 15px;

  .confirmButton {
    padding: 2px 5px;
    border-radius: 5px;
    color: darkblue;
    border: 1px dotted rgba(0, 0, 139, 0.596);
    cursor: pointer;

    &:hover {
      background-color: #b5b4bd;
    }
  }

  .rejectButton {
    padding: 2px 5px;
    border-radius: 5px;
    color: crimson;
    border: 1px dotted rgba(220, 20, 60, 0.6);
    cursor: pointer;

    &:hover {
      background-color: #b5b4bd;
    }
  }
}
#confirm {
  height: 600px;
  padding: 20px;
}
#confirm > .confirmTitle {
  width: 100%;
  font-size: 24px;
  color: gray;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#confirm > .confirmTitle > .toggle-part{
  display: flex;
}

#confirm > .confirmTitle > .toggle-part > .choice {
  position: relative;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}
#confirm > .confirmTitle > .toggle-part > .choice.active::before {
  content: "";
  position: absolute;
  background-color: #5fcf86;
  height: 5px;
  width: 100%;
  bottom: 0px;
  transform: translateY(-50%);
  left: -10px;
  margin-left: 10px;
  transition: 1s;
}

.cellImg {
  display: flex;
  align-items: center;

  .cellWImg {
    width: 200px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
  }
}

#popup-content-car{
  position: relative;
}


#popup-content-car>.popup-inner{
  display: flex;
  gap: 35px;
}

#popup-content-car>.popup-inner>.exit-btn{
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  top: -20px;
  right: -10px;
  border: 1px solid #000;
}

#popup-content-car>.popup-inner>.exit-btn:hover{
  background-color: #ccc;
}

#toggle-btn-ad>.amenity>.amenity{
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#toggle-btn-ad>.amenity img{
  width: 32px;
  height: auto;
}
#amenities-contain {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px
}
.popup-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px; /* Adjust as needed */
}