#img{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img>.container{
    height: 100px;
    width: 100px;
    display: flex;   
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    overflow: hidden;
}

#img>.container img{
    width: 100%;
    height: auto;
}